@CHARSET "ISO-8859-1";

* {
	margin: 0px;
}

body {
	font-family: "tahoma";
}

pre {
	font-family: "tahoma";
	border: none;
}

pre {
	word-break: normal;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	Overflow: Hidden;
	background: none;
}

.base-navbar form {
	margin: 0px;
}

.base-header {
	background-color: aliceblue;
	width: 100%;
	min-height: 200px;
}

.base-navbar {
	width: 100%;
	float: left;
	height: 80px;
}

.base-content { 
 clear: both;
  width: 98%;
  min-height: 810px;
  padding: 10px;
  max-width: 1700px;
  margin: auto;
  margin-bottom: 30px;
  border: 1px solid #DDD;
  border-radius: 20px;
}

.base-content .base-left-column {
	background-color: burlywood;
	width: 25%;
	min-height: 600px;
	float: left;
}

.base-content .base-main-content {
	background-color: lightgray;
	width: 75%;
	min-height: 600px;
	float: left;
}

div.base-footer {
	background-color: #007FBE;
	width: 100%;
	min-height: 30px;
	clear: both;
	padding: 4px;
	padding-left: 10px;
	color: white;
}

div.base-footer h6 {
	font-size: 11px;
	margin: 0px;
}

/*Overriding twitter*/
.base-navbar .navbar {
	margin-bottom: 0px;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}


.base-navbar .brand {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.base-navbar input {
	margin-top: 6px;
}

img.logo-mini {
	height: 24px;
	margin-top: 8px;
}

div.navbar-inner .container img.logo-mini {
	padding-right: 124px;
	float: left;
}

.hero-unit p {
	text-align: justify;
}

div.datadisplay,table.table {
	font-size: 12px;
}

div.radio-button {
	font-size: 10px;
}

div.radio-buttons label {
	display: inline;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
}

label.error {
	color: rgb(255, 87, 87);
	font-style: italic;
	font-size: 14px;
	font-weight: 500;
}

div.well-white {
	background: white;
}

.table td,.table th,.table thead:first-child {
	border: 1px solid black;
}

.table thead {
	background: #007FBE;
	color: white;
}

span.fielddata.span2 ol {
	margin-left: 15px;
	margin-bottom: 0px;
}

.well .left-div {
	width: 450px;
	float: left;
}

.well .right-div {
	width: 450px;
	float: right;
}

.btn.btn-primary.pull-right {
	margin: 10px;
}

div.report-links a {
	margin: 10px;
}

/********JQuery ***/
.ui-accordion-header span.head {
	position: absolute;
	left: 30px;
	top: 50%;
	margin-top: -10px;
}

.ui-accordion .ui-accordion-header {
	height: 30px;
	background: #D6D6D6;
	border: black;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 170px;
	display: inline-block;
}

div.mobile-content {
	display: none;
}
